body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('pexels-pixabay-414667\ \(1\).jpg');
    margin: 0;
}

#card {
    background-color: #fff;
    width: 400px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    transform: perspective(1000px) rotateX(0deg);
    transition: transform 0.5s;
}

#card.open {
    transform: perspective(1000px) rotateX(360deg);
}

#message {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#card.open #message {
    display: block;
    opacity: 1;
}

h1 {
    color: #1f6d13;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1f6d13;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}